.landingSection {
  padding: 24px 48px;
  /* background-color: blue; */
}

.landingContainer {
  /* background-color: orange; */
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.landingPictureDiv {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 180px;
  right: 0px;
  max-height: 500px;
  /* background-color: #000; */
}

.cakePic {
  max-width: 500px;
  max-height: 500px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 350px;
  padding-top: 100px;
  padding-bottom: 24px;
}

.textContainer h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.textContainer p {
  color: var(--color-black);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.buttonContainer {
  padding: 12px 0 24px 0;
}

.buttonContainer button {
  width: 120px;
  height: 40px;
  background-color: #f3a446;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  transition: color 0.2s, background-color 0.2s;
  font-size: 16px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.locationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.locationContainer a {
  display: flex;
  align-items: center;
  color: var(--color-black);
  text-decoration: none;
  /* padding: 0 12px; */
  font-size: 20px;
}

.location svg {
  color: #fff;
  width: 32px;
  height: 32px;
  padding-right: 8px;
}

.seeMoreContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 170px;
}

.seeMoreContainer a {
  display: flex;
  align-items: center;
  color: var(--color-black);
  text-decoration: none;
  font-size: 18px;
}

.seeMore p {
  max-width: 100px;
  padding-right: 10px;
}

.seeMore svg {
  width: 32px;
  height: 32px;
}

@media all and (max-width: 800px) {
  .textContainer {
    padding-top: 50px;
  }

  .landingContainer {
    position: static;
  }
}

@media all and (min-width: 600px) {
  .textContainer h1 {
    font-size: 50px;
  }
}

@media all and (max-width: 600px) {
  .landingSection {
    padding: 24px 24px;
  }

  .addressContainer {
    max-width: 150px;
  }

  .location {
    display: flex;
    align-items: center;
  }

  .seeMoreContainer {
    max-width: 150px;
  }

  .seeMore {
    display: flex;
    align-items: center;
  }

  .seeMore p {
    padding-left: 10px;
  }

  .seeMore svg {
    width: 32px;
    height: 32px;
  }
}

@media all and (min-width: 800px) {
  .locationContainer a {
    font-size: 16px;
  }

  .buttonContainer button {
    width: 160px;
    height: 60px;
    font-size: 22px;
  }
  .textContainer h1 {
    font-size: 54px;
    line-height: 64px;
  }

  .textContainer p {
    font-size: 20px;
  }
}

@media all and (min-width: 1200px) {
  .textContainer h1 {
    font-size: 80px;
    line-height: 82px;
  }

  .textContainer p {
    font-size: 22px;
  }
}

@media all and (max-width: 1000px) {
  .cakePic {
    max-width: 350px;
    max-height: 350px;
  }

  .landingPictureDiv {
    top: 150px;
  }
}

@media all and (max-width: 800px) {
  .cakePic {
    display: none;
  }
}
