* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 24px 48px;
  position: relative;
}

.headerSection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding-top: 24px;
  width: 100%;
  padding: 0;
  /* background-color: red; */
}

.containerHeader a {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

.hamburgerMenu {
  display: none;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  padding: 12px 12px;
  background: var(--color-gray);
  width: 100%;
  box-shadow: 5px 5px 10px var(--color-white-gray);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mobileMenu a {
  margin: 10px 10px;
  text-decoration: none;
  color: var(--color-black);
  background-color: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}

@media all and (max-width: 800px) {
  .containerHeader a {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    cursor: pointer;
    padding: 0 24px;
  }

  .containerHeader {
    display: flex;
    justify-content: flex-end;
  }

  .hamburgerMenu svg {
    width: 24px;
    height: 24px;
  }

  .mobileMenu {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@media all and (min-width: 800px) {
  .mobileMenu {
    display: none;
  }

  .containerHeader a {
    font-size: 20px;
  }
}

@media all and (min-width: 1200px) {
  .containerHeader a {
    font-size: 24px;
    font-weight: 500;
  }
}
